form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .fieldset {
        height: fit-content;
        margin-bottom: 20px;
        width: 45%;
    }
    input[type="submit"] {
        width: 100%;
    }
    margin-bottom: 20px;
}

@media (max-width: 700px) {
    form {
        flex-direction: column;
        .fieldset {
            width: 100%;
        }
    }
}
