{% extends 'static_page.html' %}
{% load pipeline %}

{% block css %}
{% endblock css %}

{% block content %}
<h1>Get Involved</h1>
<p>
If you’re a student interested in writing, graphic design, web design, or
anything that could possibly relate to this magazine, then join us! We’re
always seeking new staff - join our team to see what goes into making the
magazine happen. Whether you’re interested in joining our Editorial Board or
just want to help out and hang out, there’s a place for everyone at Blueprint.
</p>

<a href="mailto:blueprintlm@gmail.com" class="button primary">I'm Interested!</a>

<img src="/static/img/group_pic_home.jpg" class="image" alt=""/>
{% endblock content %}
