{% extends 'base.html' %}
{% load pipeline %}

{% block css %}
{% stylesheet 'main' %}
{% endblock css %}

{% block content %}
<div class="jumbotron">
    <div class="magazines">
        <div class="col col-1">
            {% for magazine in magazines|slice:":3" %}
            {% include "components/magazine.html" with magazine=magazine %}
            {% endfor %}
        </div>
        <div class="col col-2">
            {% for magazine in magazines|slice:"3:5" %}
            {% include "components/magazine.html" with magazine=magazine %}
            {% endfor %}
        </div>
        <div class="col col-1">
            {% for magazine in magazines|slice:"5:" %}
            {% include "components/magazine.html" with magazine=magazine %}
            {% endfor %}
        </div>
    </div>
    <img src="/static/img/blueprint-logo.png" class="logo" alt=""/>
</div>
<div class="intro-container">
    <div class="intro">
        <div class="images">
            <img class="image" style="transform: rotate(-5deg)" src="/static/img/group_pic_home.jpg" alt=""/>
            <img class="image" style="transform: rotate(8deg)" src="/static/img/mags_pic_home.jpg" alt=""/>
        </div>
        <div class="text">
            <h1>Who We Are:</h1>
            <p>
            Blueprint Literary Magazine is a student-produced literary magazine
            at the University of Michigan. We annually publish original writing
            and art from across the Ann Arbor community, including poetry,
            fiction, photography and art. Our mission at Blueprint is to
            promote artistic diversity and foster creative expression. To that
            end, we seek submissions from across all schools and majors for
            inclusion in our magazine.
            </p>
            <h1>Our Beginnings:</h1>
            <p>
            Blueprint was founded in 2010 by engineering students seeking a
            creative outlet beyond their majors. Though we have since moved
            beyond North Campus, our beginnings still inform our attitude
            towards art. We feel that there should be an opportunity for
            everyone to showcase their creative side.
            </p>
            <h1>What Makes Us Special?</h1>
            <p>
            Art plays a powerful role in our magazine. Each literary piece is
            paired with a work of art we feel best reflects its theme, while
            longer pieces incorporate more subtle graphic design. Blueprint is
            professionally printed in full color on premium stock; no effort is
            spared in the magazine’s composition. If you’re an author, you’ll
            love the full page spreads that accompany your writing.
            </p>
        </div>
    </div>
</div>
{% endblock content %}
