@mixin shadow {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

@mixin deep-shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

@mixin shadow-hover {
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3) !important;
}
