{% load static %}

<!DOCTYPE html>
<html>
    <head>
        {% include 'head.html' %}
        {% block css %}
        {% endblock css %}
        {% block js %}
        {% endblock js %}
    </head>
    <title>Blueprint Literary Magazine</title>
    <body>
        {% include "header.html" %}
        <div id="wrapper">
            <div id="content">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <footer>
            <a href="/login/">herschel login</a>
            <span class="social">
                <a href="https://www.facebook.com/blueprintlitmag/"><i class="fab fa-facebook"></i></a>
                <a href="https://twitter.com/blueprintlm"><i class="fab fa-twitter"></i></a>
            </span>
        </footer>
    </body>
</html>
