{# comment #}
<header>
    <div class="top-bar"></div>
    <div class="nav-container">
        <nav>
            {% if herschel_nav %}
            {% elif nonav %}
            {% else %}
            <a href="{% url 'index' %}">home</a>
            <a href="{% url 'join' %}">get involved</a>
            <a href=" {% url 'gallery' %} ">past issues</a>
            <a href="#">submit</a>
            {% endif %}
        </nav>
        <div class="nav-btn">
            <i class="fas fa-bars"></i>
        </div>
    </div>
</header>
