{# comment #}
<header>
    <div class="top-bar"></div>
    <div class="nav-container">
        <nav class="{% if request.user.is_authenticated %}active{% endif %}">
            {% if request.user.is_authenticated %}
            <a href="{% url 'dashboard' %}">dashboard</a>
            <a href="{% url 'index' %}">spreads</a>
            <a href=" {% url 'submissions_index' %} ">submissions</a>
            <!-- <a href="{% url 'index' %}">emails</a> -->
            {% elif nonav %}
            {% else %}
            <a href="{% url 'index' %}">home</a>
            <a href="{% url 'join' %}">get involved</a>
            <a href=" {% url 'gallery' %} ">past issues</a>
            <a href="{% url 'submit' %}">submit</a>
            {% endif %}
        </nav>
        <div class="nav-btn">
            <i class="fas fa-bars"></i>
        </div>
    </div>
</header>
