{% load static %}
{% load pipeline %}
        <meta charset="UTF-8">
        <meta name="theme-color" content="#0000CC" />
        <meta name="description" content="Blueprint Literary Magazine">
        <meta name=viewport content="width=device-width, initial-scale=1">
        <script defer src="https://use.fontawesome.com/releases/v5.8.2/js/all.js" integrity="sha384-DJ25uNYET2XCl5ZF++U8eNxPWqcKohUUBUpKGlNLMchM7q4Wjg2CUpjHLaL8yYPH" crossorigin="anonymous"></script>
        {% stylesheet 'base' %}
