{% load static %}

<!DOCTYPE html>
<html>
    <head>
        {% include 'head.html' %}
        {% block css %}
        {% endblock css %}
        {% block js %}
        {% endblock js %}
    </head>
    <title>Blueprint Literary Magazine</title>
    <body>
        {% include "header.html" %}
        <div id="wrapper">
            <div class="content static">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        {% include "footer.html" %}
    </body>
</html>
