{% extends 'static_page.html' %}
{% load pipeline %}

{% block css %}
{% stylesheet 'staff' %}
{% stylesheet 'form' %}
{% endblock css %}

{% block content %}
<h1 class="submission-title">
    {{ submission.title }}
    <span class="submission-title__author">
        {% if show_artist %}
        by {{ submission.artist }}
        {% endif %}
    </span>
</h1>
<div class="button-group">
    <a href="{% url 'submissions_index' %}" class="button primary">Back to submissions</a>
    <a href="{{ submission.drive_url }}" target="_blank" class="button primary">
        View on Google Drive <i class="fas fa-external-link-square-alt"></i>
    </a>
</div>
</br>
<div class="information">
    <div class="information__rating">
        {% if review %}
        You rated this piece <strong>{{ review.rating }}/10</strong>.
        {% else %}
        You haven't rated this piece yet.
        {% endif %}
        <form method="post" accept-charset="utf-8">
            {% csrf_token %}
            {{ review_form }}
            <input type="submit" value="submit" class="button primary"/>
        </form>
    </div>
</div>
<iframe class="drive-embed" src="{{ embed_url }}" frameborder="0"></iframe>
{% endblock content %}
